@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.primary-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.secondary-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
main,
footer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
nav,
section,
.hero,
.footer-container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
}

header {
  background-color: #f7f7f7;
}
.top-nav {
  font-weight: 600;
  background-color: #ffa42b;
}
.logo-image {
  height: 62px;
  width: 62px;
}
nav {
  justify-content: space-between;
  padding: 20px 0;
}
.nav-logo {
  cursor: pointer;
}
nav ul {
  gap: 32px;
}
a {
  text-decoration: none;
}

nav ul li {
  list-style: none;
  font-size: 1.25rem;
  font-weight: 500;
  padding-bottom: 5px;
  position: relative;
}
nav ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: black;
  transition: 0.3s;
}
nav ul li:hover::after {
  width: 100%;
}
.menu-icon,
.card-6,
.card-7,
hr {
  display: none;
}
.hero {
  gap: 50px;
  padding: 0;
}
.hero-image {
  width: 40%;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.hero-content h1 {
  font-size: 3.5rem;
  line-height: 61px;
}
.curriculum-container {
  background-color: #f7f7f7;
  background-image: url("../assets/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.curriculum-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}
.curriculum-card-container img {
  width: 50%;
}
.card {
  padding: 55px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 35px;
  border-radius: 18px;
  box-shadow: inset 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
  margin: 80px auto;
}
.card-description {
  font-family: "Raleway", serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: #869499;
}
.read-more {
  font-size: 0.9rem;
  font-weight: bold;
}
.read-more:hover {
  cursor: pointer;
  color: black;
}
.arrow-bg {
  height: 60px;
  width: 60px;
  background-color: #ffa42b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: 0.3s;
  cursor: pointer;
}
.arrow-bg:hover {
  background-color: #00abf9;
}
.arrow-bg:nth-child(1) {
  rotate: 180deg;
}
.arrow-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.stories-container {
  background: linear-gradient(to bottom, #f7f7f7, #fadeb2 50%);
  position: relative;
}
.stories-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-image: url("../assets/bg.png");
}
.stories-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 80px auto;
}
.stories-card {
  border-radius: 16px;
  overflow: hidden;
  background-color: white;
  z-index: 999;
}
.stories img {
  width: 100%;
}

.story-date,
.sm-story-date {
  position: relative;
  cursor: default;
}
.story-date span,
.sm-story-date span {
  position: absolute;
  display: block;
  bottom: -5%;
  left: 10%;
  color: white;
  padding: 15px 20px;
  border-radius: 47px;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "Raleway", serif;
}

.sm-story-date span {
  bottom: -7%;
  padding: 10px 20px;
}

.card-1 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 35px;
}
.card-1 h2,
.card-1 p {
  padding: 0 40px;
}

.other-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.other-card h3 {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 38px 38px 28px 38px;
}

.stories-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  background-color: #00abf9;
  color: white;
}
.footer-logo img {
  width: 20%;
}

.footer-logo span {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 40px;
}
.footer-content {
  width: 30%;
}
.footer-content p {
  margin-top: 35px;
  color: rgba(255, 255, 255, 0.74);
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-routes {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.contact h2 {
  padding-bottom: 32px;
}
.footer-routes p:hover {
  color: #111111;
  cursor: pointer;
}
.contact img {
  width: 20%;
  cursor: pointer;
}

/* shared */

.flex-center {
  display: flex;
  align-items: center;
}

.btn {
  padding: 10px 60px;
  background-color: #ffa42b;
  border-radius: 12px;
  font-weight: 600;
  color: white;
  font-family: "Quicksand", serif;
  font-size: 1.25rem;
  border: 2px solid transparent;
  direction: 0.3s;
  cursor: pointer;
}
.btn:hover {
  background-color: transparent;
  color: #ffa42b;
  border: 2px solid #ffa42b;
}
.btn2 {
  padding: 10px 47px;
  color: white;
  background-color: #111111;
  font-weight: bold;
  font-size: 1.25rem;
  font-family: "Quicksand", serif;
  border-radius: 12px;
  border: 2px solid transparent;
  direction: 0.3s;
  cursor: pointer;
  z-index: 999;
}
.btn2:hover {
  background-color: transparent;
  color: black;
  border: 2px solid black;
}
.section-title {
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
}
.color1 {
  color: #ffa42b;
}
.color2 {
  color: #00abf9;
}
.color3 {
  color: #00d3de;
}
.color4 {
  color: #6457e9;
}
.block {
  display: block;
}
.bg-1 {
  background-color: #91b23c;
}
.bg-2 {
  background-color: #6457ea;
}
.bg-3 {
  background-color: #0fd7e7;
}
.gradient1 {
  background: linear-gradient(to bottom, #def5ff, #ffffff 40%);
  border: 1px solid #def5ff;
}
.gradient2 {
  background: linear-gradient(to bottom, #fff4dc, #ffffff 40%);
  border: 1px solid #fff4dc;
}
.gradient3 {
  background: linear-gradient(to bottom, #f2e8ff, #ffffff 40%);
  border: 1px solid #f2e8ff;
}

/* reponsive for mobile devices */

@media screen and (max-width: 576px) {
  .top-nav {
    font-size: small;
  }
  nav,
  section,
  .hero,
  .footer-container {
    width: 90%;
  }
  .logo-image {
    height: 46px;
    width: 46px;
  }
  nav ul li,
  nav button,
  .nav-logo h1,
  .arrow-container,
  .card-1 {
    display: none;
  }
  .menu-icon,
  .card-6,
  .card-7 {
    display: block;
    cursor: pointer;
  }
  hr {
    display: block;
    border: 1px solid #ffa42b;
  }
  .hero {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .hero img {
    margin-top: 20px;
    width: 100%;
  }
  .hero-content h1 {
    font-size: 2rem;
    line-height: 40px;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .btn2 {
    padding: 6px 24px;
    font-size: 1rem;
  }
  .hero-btn {
    display: flex;
    justify-content: center;
  }
  section {
    padding: 30px;
  }
  .section-title {
    font-size: 1.6rem;
    padding-bottom: 20px;
  }
  .curriculum-card-container,
  .stories-card-container {
    grid-template-columns: 1fr;
  }
  .card-title {
    font-size: 1rem;
  }
  .card {
    gap: 22px;
    margin: 0;
  }
  .card p {
    font-size: 0.6rem;
  }
  .curriculum-card-container img {
    width: 30%;
  }
  .other-card h3 {
    font-size: 0.6rem;
    padding: 22px;
  }
  .stories-card-container {
    margin: 10px auto;
  }
  .stories-btn {
    margin-top: 30px;
  }
  .footer-content {
    width: 100%;
  }
  .footer-container {
    flex-direction: column;
    align-items: start;
    gap: 50px;
  }
  footer p {
    text-align: left;
  }
  .sm-story-date span {
    font-size: 0.6rem;
    bottom: -4%;
    padding: 5px 10px;
  }
}
